#index-container {
	padding: 30px;
	text-align: center;
}
#index-container2 {
	margin-top: 30px;
	margin-bottom: 60px;
	height: 285px;
}
#top-listing-container {
	display: inline-block;
	float: left;
	height: 285px;
	padding: 12px 30px;
}
#welcome-container {
	display: inline-block;
	float: right;
	width: 345px;
	height: 100%;
	padding: 0px 25px;
	border-left: 1px solid black;
	text-align: center;
}
.welcome {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.welcome-spacer {
	flex: 1;
}

.top-listing {
	width: 500px;
	height: 220px;
	margin-top: 12px;
}
.top-listing-info {
	width: 205px;
	max-height: 100%;
	padding: 15px;
	float: right;
	text-align: left;
	overflow: hidden;
	color: #333333;
	text-decoration: none;
}
.top-listing-info:link, .top-listing-info:hover, .top-listing-info:active {
	color: #333333;
	text-decoration: none;
}

.listing {
	display: inline-block;
	vertical-align: top;
	width: 174px;
	height: 240px;
	margin: 30px;
	float: left;
}
.listing-info {
	width: 174px;
	max-height: 110px;
	text-align: left;
	color: #333333;
	text-decoration: none;
}
.listing-info:link, .listing-info:hover, .listing-info:active {
	color: #333333;
	text-decoration: none;
}
.listing .title, .listing .desc, .listing .price {
	max-height: 20px;
	overflow: hidden;
}
