.login-container {
	background-repeat: no-repeat;
	padding: 60px 336px;
	height: 100%;
	text-align: center;
}
#login-blue {
	background-image: url('../images/login-bg.png');
}
#signup-orange {
	background-image: url('../images/reg-bg.png');
}
#login-error, #login-success {
	display: none;
}
.login-form { 
	padding: 10px 0px;
}
